<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>!Fog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/index-body-styling.css}"/>
<link rel="stylesheet" th:href="@{/css/header-styling.css}"/>
</head>

<body>
<header class="header">
    <div class="header-top animate-in">
        <div class="info-box">
            <img th:src="@{/images/header/return-usp.svg}" alt="30 days return" class="info-icon"/>
            <span>30 dages returret</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/store-usp.svg}" alt="click and collect icon" class="info-icon"/>
            <span>Klik og hent inden for 3 timer*</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/delivery.svg}" alt="delivery icon" class="info-icon"/>
            <span>1-3 dages levering*</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/trailer.svg}" alt="trailer icon" class="info-icon"/>
            <span>Lån en trailer gratis</span>
        </div>
    </div>

    <div class="main-nav">
        <div class="section">
            <div class="left-section">
                <input type="checkbox" id="toggle-dropdown" hidden>
                <label for="toggle-dropdown" class="left-section-logo" style="cursor: pointer;">
                    <div class="logo">
                        <img th:src="@{/images/header/fog.png}" alt="!foglogo"/>
                    </div>
                </label>
                <div class="dropdown-wrapper">
                    <nav class="nav-menu">
                        <a th:href="@{#}">Bolig & design</a>
                        <a th:href="@{#}">Byggematerialer</a>
                        <a th:href="@{#}">EL & belysning</a>
                        <a th:href="@{#}">Have & fritid</a>
                        <a th:href="@{#}">Værktøj</a>
                        <a th:href="@{#}">Mærker</a>
                        <a th:href="@{#}">Carport</a>
                        <a th:href="@{#}">Fog Pro</a>
                    </nav>
                </div>
            </div>


            <div class="search">
                <img th:src="@{/images/header/search-icon.svg}" alt="search" class="search-icon"/>
                <input type="text" placeholder="Søgning"/>
            </div>

            <div class="user-icons">
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/account-icon.svg}" alt="Fog Konto"/>
                    <span>Fog Konto</span>
                </a>
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/find-icon.svg}" alt="Find Fog"/>
                    <span>Find Fog</span>
                </a>
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/cart-icon.png}" alt="Kurv"/>
                    <span>Kurv</span>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <div class="title-box">
            <h1>
                !Fog
            </h1>
        </div>
        <div class="buttons">
            <form method="get" th:action="@{/quickByg}">
                <button type="submit"> Quick-Byg Carport med fladt tag</button>
            </form>
            <button>Ordrenummer</button>
            <button class="sales-men-button">Sælgerside</button>
        </div>
    </div>
</div>

</body>
</html>
