<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>HTML-Intellij</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>
<header>
    <p> bla bla header</p>
</header>

<div class="main">
    <div class="wrapper">
        <div class="titleBox">
            <h1>
                !Fog
            </h1>
        </div>

        <div class="buttons">
            <button>Quick-Byg Carport med fladt tag -></button>
            <button>Ordrenummer -></button>
            <button class = "salesMenButton">Sælgerside</button>
        </div>

    </div>
</div>
</body>

</html>
