<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>!Fog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/quick-byg-confirmation-body-styling.css}"/>
<link rel="stylesheet" th:href="@{/css/header-styling.css}"/>
<script th:src="@{/js/go-back-action-listener.js}"></script>
</head>


<body>
<header class="header">
    <div class="header-top animate-in">
        <div class="info-box">
            <img th:src="@{/images/header/return-usp.svg}" alt="30 days return" class="info-icon"/>
            <span>30 dages returret</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/store-usp.svg}" alt="click and collect icon" class="info-icon"/>
            <span>Klik og hent inden for 3 timer*</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/delivery.svg}" alt="delivery icon" class="info-icon"/>
            <span>1-3 dages levering*</span>
        </div>
        <div class="info-box">
            <img th:src="@{/images/header/trailer.svg}" alt="trailer icon" class="info-icon"/>
            <span>Lån en trailer gratis</span>
        </div>
    </div>

    <div class="main-nav">
        <div class="section">
            <div class="left-section">
                <input type="checkbox" id="toggle-dropdown" hidden>
                <label for="toggle-dropdown" class="left-section-logo" style="cursor: pointer;">
                    <div class="logo">
                        <img th:src="@{/images/header/fog.png}" alt="!foglogo"/>
                    </div>
                </label>
                <div class="dropdown-wrapper">
                    <nav class="nav-menu">
                        <a th:href="@{#}">Bolig & design</a>
                        <a th:href="@{#}">Byggematerialer</a>
                        <a th:href="@{#}">EL & belysning</a>
                        <a th:href="@{#}">Have & fritid</a>
                        <a th:href="@{#}">Værktøj</a>
                        <a th:href="@{#}">Mærker</a>
                        <a th:href="@{#}">Carport</a>
                        <a th:href="@{#}">Fog Pro</a>
                    </nav>
                </div>
            </div>

            <div class="search">
                <img th:src="@{/images/header/search-icon.svg}" alt="search" class="search-icon"/>
                <input type="text" placeholder="Søgning"/>
            </div>

            <div class="user-icons">
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/account-icon.svg}" alt="Fog Konto"/>
                    <span>Fog Konto</span>
                </a>
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/find-icon.svg}" alt="Find Fog"/>
                    <span>Find Fog</span>
                </a>
                <a th:href="@{#}" class="icon-link">
                    <img th:src="@{/images/header/cart-icon.png}" alt="Kurv"/>
                    <span>Kurv</span>
                </a>
            </div>
        </div>
    </div>
</header>


<div class="main">
    <div class="side-menu">
        <ul>
            <li>Din Carport</li>
            <li>Kontaktoplysninger</li>
            <li>》 Bekræftelse</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="progress-bar">
            <div class="progress-step">Din Carport</div>
            <div class="progress-step">Kontaktoplysninger</div>
            <div class="progress-step active">Bekræftelse</div>
        </div>
        <div class="title-box">
            <h1>
                Bekræft information
            </h1>
        </div>

        <ul class="confirmation-list">
            <b>Her er dine valgte mål til din carport:</b>
            <li></li>
            <li>Længde: <span th:text="${carportLength + ' cm'}">[mangler længde]</span></li>
            <li>Bredde: <span th:text="${carportWidth + ' cm'}">[mangler bredde]</span></li>
            <li>Tagtype: <span th:text="${carportTrapezRoof}">[mangler tagtype]</span></li>
            <li th:if="${redskabsrumCheckbox}">
                Redskabsrum:
                <ul>
                    <li>Længde: <span th:text="${redskabsrumLength + ' cm'}">[mangler længde]</span></li>
                    <li>Bredde: <span th:text="${redskabsrumWidth + ' cm'}">[mangler bredde]</span></li>
                    <li>Døre: <span th:text="${redskabsrumDoors}">[mangler døre]</span></li>
                </ul>
            </li>
        </ul>
        <button class="next-page-button" name="nextPageButton" onclick="goToMailSent()">
            Næste →
        </button>
        <button type="button" class="former-page-button" onclick="goToContactInformation()">
            ← Tilbage
        </button>
        </form>
    </div>
</div>
</body>
</html>
